/* ------------------FONTS--------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* ------------------VAR--------------------------- */
:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray:hsl(212, 45%, 89%);
    --Grayish_blue:hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}
/* ------------------ALL-------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    background-color: var(--Light_gray);
}
/* ------------------CARD----------------------------- */
.card{
    height:31rem ;
    width: 20rem;
    background-color: var(--White);
    border-radius: 1rem;
    margin: 4rem auto;
    padding: 1rem ;
}

.card:hover{
    cursor: pointer;
    box-shadow: 1rem 1rem 1rem;
    transition: 1000ms;
    transform: translateY(-1rem)rotateZ(360deg);
}

/* ------------------SECTION-I------------------------ */
.card__topCard{
    animation: upCenter 300ms none;
}
@keyframes upCenter {
    
    0%{
        transform: translateY(-32rem);
    }

    100%{ 
        transform: translateY(0);
    }
}




.card__topCard__img{
    width: 100%;
    border-radius: 1rem;
}
/* ------------------SECTION-II----------------------- */
.card__botomCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.card__botomCard__title {
        animation: leftCenter 200ms none ;
    }

    @keyframes leftCenter{
        0%{
            transform: translateX(-500px);
        }
        100%{
            transform: translateX(0);
        }
    }

    .card_botomCard_text{
        animation: rightCenter 200ms none;
    }

    @keyframes rightCenter{
        0%{
            transform: translateX(500px);
        }
        100%{transform: translateX(0);

        }        
    }
/* ------------------FOOTER----------------------- */
.attribution { font-size: 11px;
                text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); }